 form input,
select {
  height: 40px !important;
  padding: 10px 20px !important;
  border: 1px solid rgb(255, 255, 255) !important;
  width: 100%;
  border-radius: 2px !important;
  background-color: black;
  color: white;
}

.ant-form-item {
  margin-bottom: 5px !important;
}

button {
  padding: 0px 25px;
  border-radius: 2px;
  height: 40px !important;
}
.primary-contained-btn {
  background-color: black;
  color: rgb(168, 35, 168);
  font-size: 1rem;
  border: 0.75px solid white;
}

.primary-outlined-btn {
  background-color: black;
  color:rgb(169, 25, 169);
  font-size: 1rem;
  border: 0.75px solid white;
  
}

.add-edit-exam input,
.add-edit-exam select {
  background-color: black;
  color: white;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 4px;
}

.add-edit-exam input::placeholder,
.add-edit-exam select option {
  color: white;
}

.add-edit-question ,input{
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 4px;
}

