
.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
}
.text-xl{
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-lg{
    font-size: 1.125rem;
    line-height: 1.5rem;
}
.text-md{
    font-size: 1rem;
    line-height: 1.25rem;
}
.text-mdx{
    font-size: 0.8rem;
    line-height: 1rem;
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1rem;
}
.text-xs{
    font-size: 0.75rem;
    line-height: 0.875rem;
}

h1{
    margin-bottom: 0px !important;
    padding-bottom: 0 !important;
}
.text-center{
    text-align: center;
}
a{
    color:rgb(142, 48, 186)!important;
    list-style-type: none;

}
a:hover{
    color: rgb(194, 222, 32) !important;
    text-decoration: underline !important;
}
button:hover{
    color: yellow !important;
    text-decoration: underline !important;
}

i{
    font-size: 18px !important;
    cursor: pointer !important;
}
.underline{
    text-decoration: underline !important;
}

.bd{
    border: 1px solid white;
}
.bd-bottom{
    border-bottom: 1px solid white;
}

button #link{
    color: black;
}

.tf{
    letter-spacing: 0.8px;
    word-spacing: 1.5px;
}