

.navbar{
  height: 100px;
  border:1px solid yellow;
  display: flex;
  align-items: center;
  color: white;
 position: relative;
}
img{
  width: 80px;
  height: auto;
}
.navbar .logo{
  background-color: rgb(73, 131, 183);
 
}
nav h2{
  color: white;
  font-size: 25px;
}

ul{
  display: flex;
  gap: 150px;
  position:absolute;
  margin-bottom: 10px;
  right: 0;
  margin-right: 200px;
}


li{
  list-style-type:none;
  
}
 li a{
  width: 100%;
  color: white;
  font-size: 20px;
 
}